{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb",
        "plugin:import/typescript",
        "plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "rules": {
        "react/react-in-jsx-scope": "off",
        "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
        "linebreak-style": "off",
        "import/prefer-default-export": "off",
        "import/extensions": ["error", { "extensions": [".tsx"] }],
        "import/no-extraneous-dependencies": "off",
        "react/jsx-props-no-spreading":"off",
        "jsx-a11y/anchor-is-valid":"off",
        "no-unused-vars": "warn",
        "import/no-unresolved": "off",
        "prettier/prettier": [ "error", { "endOfLine": "auto" } ],
        "react/require-default-props": "off"
    }
}
